.active{
    background-color: orange;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
}

nav .title{
    font-size: 1.5rem;
    margin: 1 rem;
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: aliceblue;
    padding: 0.5rem;
    margin: 0.5 rem;
    border-radius: 0.5rem;
}

nav ul li a:hover{
    background-color: orange;
}